.container-body{
    position: absolute;
    top:10%;
}
.centered {
    left: 0;
    position:absolute;
    text-align:center;
    top: 40%;
    width: 100%
}
.opaque{
    opacity: 0.5;
}
.carousel-custom{
    width:100%;
    top: 10%;
    margin: 0 auto;
    overflow: scroll;
    /* max-height: 200px !important; */
}
img{
    vertical-align: unset;
}
.carousel-item{
    height: 32.13%;
    width: inherit;
    /* width:80%; */
}

.width-fixed{
    width: 80%;
    overflow: hidden;
}

.align-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-body{
    margin-bottom: 10%;
}